@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 13, 114);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.container {
    text-align: center;
    background-color: rgb(176, 216, 255);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 7px 23px rgba(0,0,0,0.1);
    max-width: 1000px;
    width: 100%;
}

#upload {
    width: 100%;
    text-align-last: center;
}

canvas {
    margin-top: 20px;
    border: 1px solid #292e37;
    cursor: pointer;
}

.controls {
    display: flex;
    align-items: center;
}

.controls .subControl {
    padding: 1rem;
    width: 100%;
    display: grid;
    align-self: flex-start;
    gap: 11px;
}


button {
    padding: 10px 20px;
    background-color: rgb(0, 64, 148);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 45, 104);
}

.credits {
    font-style: italic;
    font-weight: bold;
}